body {
  padding: 25px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
	font-family: Garamond, serif;
	line-height: 1em;
	color: black;
	t
}

p {
	font-family: Garamond;
	line-height: 1em;
	color:black;

}

