body {
  padding: 25px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url('background.jpeg');
}

@font-face {
	font-family: 'RieslingRegular';
	src: url('fonts/riesling.eot');
	src: local('Riesling Regular'), local('Riesling'), url('fonts/riesling.ttf') format('truetype');
}

h1 {
	font-family: 'RieslingRegular', Arial, sans-serif;
	line-height: 1em;
	color: white;
	background-color: #FF6600;
	font-size: 100px;
}

p {
	font-family: Garamond;
	line-height: 1em;
	color:black;
}

#floater {
	float: left;
	height: 50%;
	margin-bottom: -120px;
}

#content {
	clear: both;
	height: 240px;
	position: relative;
}

.btn{
	height: 45px;
	padding-right: 10px;
	width: 130px;
}

.glyphicon {
	position: relative;
	top: 2px;
}

.btn#home_btn{
	width: 150px;
}
