extends layout

block content  
  div.navbar.navbar-inverse.navbar-static-top(role="navigation")
    div.container
      div.navbar-header
        a.navbar-brand.nugget-title(href="#"). Nugget
      div.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a#tour(href="#"). Take a Tour!

  div#stepCarousel.carousel.slide(data-ride="carousel" data-interval="false" data-wrap="false")
    div.carousel-inner
      div.item.active
        div.container
          div#video_container
            video
          div#recordbar
          div#audio_container
          button.btn.btn-danger(type="button" id="record")
            span.glyphicon.glyphicon-record
            |  Record
          button.btn.btn-success(type="button" id="stop")
            span.glyphicon.glyphicon-stop
            |  Stop
      div.item
        div.container
          div.nav-button.col-lg-2
            button.btn.btn-warning(type="button" id="clear")
              span.glyphicon.glyphicon-remove-sign
              |  Restart
          div.video-group.col-lg-8
            div#video_playback_container
            button.btn.btn-primary(type="button" id="play")
              span.glyphicon.glyphicon-play
              |  Play
            button.btn.btn-primary(type="button" id="pause")
              span.glyphicon.glyphicon-pause
              |  Pause
            button.btn.btn-primary(type="button" id="rewind")
              span.glyphicon.glyphicon-step-backward
              |  Rewind
          div.nav-button.col-lg-2
            button.btn.btn-success(type="button" id="continue")
              span.glyphicon.glyphicon-chevron-right
              |  Continue

      div.item
        div.container
          form.form-horizontal(action='/nuggets/send', method='post', id='submit_form' role="form")
            input(type="hidden" name="nugget_id" id="nugget_id_input")
            div.form-group
              div.col-sm-2
              label.col-sm-2.control-label(for="name"). Your Name:
              div.col-sm-6
                input.form-control(type="text" name="name" placeholder="as you would like your recipients to see it" required)
            div.form-group
              div.col-sm-2
              label.col-sm-2.control-label(for="from"). Your Email Address:
              div.col-sm-6
                input.form-control(type="email" name="from" placeholder="where you would like to receive their response")
            div.form-group
              div.col-sm-2
              label.col-sm-2.control-label(for="to"). Recipient Email Address:
              div.col-sm-6
                input.form-control(type="email" name="to" placeholder="separate multiple addresses with a comma" required multiple)
            button.btn.btn-success(type="submit" id="send")
              span.glyphicon.glyphicon-ok
              |  Send

  script(src='/javascript/nuggetRecord.js')