extends layout

block content
  h1 NUGGET

  div.description
    p. Tell your parents the highlights of your day in less than 2 min!

  div#waiting
  div#video_container
  div#audio_container

  div#recordbar

  button(id="record", data-action="bea").
    Record
  button(id="stop", data-action="bea").
    Stop
  button(id="play", data-action="bea").
    Play
  button(id="pause", data-action="bea").
    Pause
  button(id="rewind", data-action="bea").
    Rewind
  button(id="clear", data-action="bea").
    Clear

  form(action='/nuggets/send', method='post', id='submit_form')
    input(type="hidden" name="nugget_id" id="nugget_id_input")
    label(for="name"). Your Name:
    input(type="text" name="name")
    br()
    label(for="from"). Your Email Address:
    input(type="email" name="from")
    br()
    label(for="to"). Recipient Email Address:
    input(type="email" name="to")
    input(type="submit" value="Send!" id="send", data-action="bea")

  script(src='/javascript/nuggetRecord.js')
  

