extends layout

block content
  h1 NUGGET

  .container-fluid
    .row
      .col-md-2
        button.btn.btn-danger(type="button" id="record")
          span.glyphicon.glyphicon-record
          |  Record
        button.btn.btn-success(type="button" id="play")
          span.glyphicon.glyphicon-play
          |  Play
        button.btn.btn-success(type="button" id="pause")
          span.glyphicon.glyphicon-pause
          |  Pause
        button.btn.btn-success(type="button" id="rewind")
          span.glyphicon.glyphicon-step-backward
          |  Rewind
      .col-md-8
        div#waiting
        
        div#video_container
        div#audio_container
        form(action='/nuggets/send', method='post', id='submit_form')
          input(type="hidden" name="nugget_id" id="nugget_id_input")
          label(for="name"). Your Name:
          input(type="text" name="name" required)
          br()
          label(for="from"). Your Email Address:
          input(type="email" name="from")
          br()
          label(for="to"). Recipient Email Address:
          input(type="email" name="to" required)
          input(type="submit" value="Send!" id="send")

        div#recordbar
      .col-md-2
        button.btn.btn-success(type="button" id="stop")
          span.glyphicon.glyphicon-stop
          |  Stop
        button.btn.btn-warning(type="button" id="clear")
          span.glyphicon.glyphicon-remove-sign
          |  Clear


  script(src='/javascript/nuggetRecord.js')
  

