extends layout

block content
  h1 NUGGET 

  div.description
  p. Tell your parents the highlights of your day in less than 2 min!
  p. REMEMBER...they LOVE to see your BEAUTIFUL face! 

  div#waiting
  div#recordbar
  div#webcam_stream
  div#video_container

  button(id="start", data-action="bea").
    Start
  button(id="stop", data-action="bea").
    Stop
  button(id="addpics", data-action="bea").
    Add Pictures
  button(id="send", data-action="bea").
    Send

  script(src='/javascript/nuggetRecord.js')

