extends layout 

block extraHeader
    link(href='cover.css', rel='stylesheet')

block content
    .cover-container
      .inner.cover
        h1.cover-heading Nugget
        p.lead Use Nugget to share the highlights of your day!
        p.lead
          a.btn.btn-lg.btn-default(href='new') Begin