doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap-tour-standalone.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/jquery-1.11.0.min.js')
    script(src='/javascript/jquery-ui-1.10.4.custom.min.js')
    script(src='/javascript/bootstrap.min.js')
    script(src='https://cdn.firebase.com/js/client/1.0.6/firebase.js')
    script(src='/javascript/RecordRTC.js')
    script(src='/javascript/bootstrap-tour-standalone.min.js')

  body
    block content




   
