extends layout

block content  

  div#webcam_stream
  div#audio_container

  button.btn.btn-primary(id="play")
    span.glyphicon.glyphicon-play
    |  Play
  button.btn.btn-primary(id="pause")
    span.glyphicon.glyphicon-pause
    |  Pause
  button.btn.btn-primary(id="stop")
    span.glyphicon.glyphicon-stop
    |  Stop

  script(src='/javascript/responsePlayback.js')

