extends layout

block content  

  div#webcam_stream
  div#audio_container

  button(id="play", data-action="bea").
    Play
  button(id="pause", data-action="bea").
    Pause
  button(id="stop", data-action="bea").
    Stop

  script(src='/javascript/responsePlayback.js')

