extends layout

block content  
  div.navbar.navbar-inverse.navbar-static-top(role="navigation")
    div.container
      div.navbar-header
        a.navbar-brand(href="#"). Nugget
      div.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a#help(href="#"). Help

  div.description

    p Your nugget has been sent!
    p You will be notified to your email upon receiving a response!

   p You can view it 
      a(href=nugget_url).
        here


  a(href="/nuggets/new")
    button.btn.btn-primary(id="home_btn").
      Send new nugget
 