extends layout

block content
  h1 Nugget

  div.description

    p You can view it 
      a(href=nugget_url).
        here

  a(href="/nuggets/new")
    button.btn.btn-primary(id="home_btn").
      Send another!
