extends layout

block content
  h1 NUGGET Recipient

  div.description
  p Look at the nugget 
    = sender_name
    |  has sent!

  button(id="play", data-action="bea").
    Play
  button(id="pause", data-action="bea").
    Pause
  button(id="stop", data-action="bea").
    Stop

  div#timer(style="color: red; z-index: 999;")
  button(id="stop_response", data-action="bea").
    I'm done, send it now!
  div#webcam_stream
  div#audio_container

  div#recordbar

  form(action='/nuggets/respond', method='post', id='respond_form')
    input(type="hidden" name="response_id" id="response_id_input")
    input(type="hidden" name="to" value=sender_email)

  button(id="respond", data-action="bea").
    Send Response

  script(src='/javascript/nuggetPlayback.js')

