extends layout

block content
  h1 NUGGET Recepient

  div.description
  p. Look at the NUGGET your child has sent!! 

  div#webcam_stream
  div#audio_container

  button(id="play", data-action="bea").
    Play
  button(id="pause", data-action="bea").
    Pause
  button(id="stop", data-action="bea").
    Stop

  a(href=respond_url)
    button(id="respond", data-action="bea").
      Send Response

  script(src='/javascript/nuggetPlayback.js')

