extends layout

block content
  h1 NUGGET Recepient

  div.description
  p Look at the nugget 
    = sender_name
    |  has sent!

  div#timer(style="color: red; z-index: 999;")
  button(id="stop_response", data-action="bea").
    I'm done, send it now!
  div#webcam_stream
  div#audio_container

  div#recordbar

  button.btn.btn-primary(id="play").
    Play
  button.btn.btn-primary(id="pause").
    Pause
  button.btn.btn-primary(id="stop").
    Stop

  form(action='/nuggets/respond', method='post', id='respond_form')
    input(type="hidden" name="response_id" id="response_id_input")
    input(type="hidden" name="to" value=sender_email)

  button.btn.btn-success(id="respond", data-action="bea").
    Send Response

  script(src='/javascript/nuggetPlayback.js')

