extends layout

block content
  h1 Nugget

  div.description
  p Look at the nugget 
    = sender_name
    |  has sent!

  button.btn.btn-primary(id="play").
    span.glyphicon.glyphicon-play
    |  Play
  button.btn.btn-primary(id="pause").
    span.glyphicon.glyphicon-pause
    |  Pause
  button.btn.btn-primary(id="stop").
    span.glyphicon.glyphicon-stop
    |  Stop

  div#timer(style="color: red; z-index: 999;")
  button(id="stop_response", data-action="bea").
    I'm done, send it now!
  div#webcam_stream
  div#audio_container

  div#recordbar

  form(action='/nuggets/respond', method='post', id='respond_form')
    input(type="hidden" name="response_id" id="response_id_input")
    input(type="hidden" name="to" value=sender_email)

  button.btn.btn-success(id="respond", data-action="bea").
    Send Response

  script(src='/javascript/nuggetPlayback.js')

