extends layout

block content
  div.navbar.navbar-inverse.navbar-static-top(role="navigation")
    div.container
      div.navbar-header
        a.navbar-brand(href="#"). Nugget
      div.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a#help(href="#"). Help

  div.description
  p#welcome Look at the nugget 
    = sender_name
    |  has sent you!

  p#bye Thanks for sending 
    = sender_name
    |  a response!

  button.btn.btn-primary(id="play")
    span.glyphicon.glyphicon-play
    |  Play
  button.btn.btn-primary(id="pause")
    span.glyphicon.glyphicon-pause
    |  Pause
  button.btn.btn-primary(id="stop")
    span.glyphicon.glyphicon-stop
    |  Stop

  div#timer(style="color: red; z-index: 999;")
  button.btn.btn-danger(id="stop_response", data-action="bea").
    I'm done, send it now!

  div#webcam_stream(style="height: 480px;")
    div#spinner.spinner
      img(src="/images/ajax-loader.gif" alt="Loading...")
  div#audio_container

  div#recordbar

  form(action='/nuggets/respond', method='post', id='respond_form')
    input(type="hidden" name="response_id" id="response_id_input")
    input(type="hidden" name="to" value=sender_email)

  button.btn.btn-success(id="respond", data-action="bea").
    Send Response

  script(src='/javascript/nuggetPlayback.js')

