extends layout

block content  
  div.navbar.navbar-inverse.navbar-static-top(role="navigation")
    div.container
      div.navbar-header
        a.navbar-brand.nugget-title(href="#"). Nugget
      div.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a#tour(href="#"). Take a Tour!

  div.description
  p#bye Your response to 
    = sender_name
    |  has been sent!

  button.btn.btn-primary(id="play")
    span.glyphicon.glyphicon-play
    |  Play
  button.btn.btn-primary(id="pause")
    span.glyphicon.glyphicon-pause
    |  Pause
  button.btn.btn-primary(id="stop")
    span.glyphicon.glyphicon-stop
    |  Stop
  button.btn.btn-success(id="respond", data-action="bea").
    Send Response

  button.btn.btn-danger(id="stop_response", data-action="bea").
    Stop and send!


  div#block
    div#timer(style="color: red; z-index: 999;")

    div#webcam_stream(style="height: 480px;")
    div#audio_container

  div#recordbar

  form(action='/nuggets/respond', method='post', id='respond_form')
    input(type="hidden" name="response_id" id="response_id_input")
    input(type="hidden" name="to" value=sender_email)

  

  script(src='/javascript/nuggetPlayback.js')

