body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font-family: Garamond, serif;
	line-height: 1em;
	color: black;
	t
}

p {
	font-family: Garamond;
	line-height: 1em;
	color:black;

}

